<!doctype html>
<html lang="en">

{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Bintang Samudro</title>
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}" type="text/css">
</head>

<body>

    {% include "includes/navbar.html" %}

    <section id="profile">
        <h1>BIAR KENA SPACE AJA</h1>
        <h1 style="text-align: center; padding-top: 25px; border: 15px solid rgb(255, 255, 255);">{{page_title}}</h1>
        <div class="card">
            {% for post in posts %}
            <div class="border-black">
                <div class="box-card">
                    <h5 class="card-header">{{post.nama_mata_kuliah}}</h5>
                    <div class="card-body">
                        <h5 class="card-title">Dosen Pengajar : {{post.dosen_pengajar}}</h5>
                        <p class="card-text">Jumlah SKS : {{post.jumlah_sks}}</p>
                        <p class="card-text">Semester : {{post.semester_tahun}}</p>
                        <p class="card-text">Ruang : {{post.ruang_kelas}}</p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                            Delete
                        </button>
                        <a class="btn btn-primary" href="{% url 'home:detail' post.id %}" title="">Detail</a>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Kamu Yakin?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Apakah kamu yakin akan menghapus mata kuliah ini?
                                    </div>
                                    <div class="modal-footer" style="text-align: left;">
                                        <a class="btn btn-danger" href="{% url 'home:delete' post.id %}"
                                            title="">Delete</a>
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Nah, I'm
                                            Not</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buat-nurunin-doang" style="border-top: 50px solid rgb(255, 255, 255);">
            </div>
            {% endfor %}
            <div class="buat-nurunin-doang" style="border-top: 125px solid rgb(255, 255, 255);">
                <a class="btn btn-success" href="{% url 'home:newpage' %}" title="">Buat Matkul Baru</a>
            </div>
        </div>
    </section>

    {% include "includes/socialmedia.html" %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>