{% load static %}

<section id="about-me">
    <div class="container-social-media">
        <div class="container-social-media-title">
            <h1>Get In Touch With Me</h1>
        </div>
        <div class="social-media-menu">
            <ul>
                <li><a href="https://www.facebook.com/bintang.samudro.319" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/samudro_bintang" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/bintang_samudro/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/bintang-samudro-180a16136/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>  
</section>